@import url('https://fonts.googleapis.com/css?family=Outfit&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: Outfit,serif;
    background-color:hsl(218, 44%, 22%);
    
}

footer {
    display: block;
    margin-top: 1em;
    font-size: 1em;
    text-align: center;
    color: hsl(212, 45%, 89%);

  }
  footer a {
    color: hsl(212, 45%, 89%)
  }